body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Shippori Mincho", serif;
}

header {
  text-align: right;
}

header h3 {
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header p {
  margin: 0;
}

.container {
  width: 80vw;
  height: 80vh;
  border: 2px solid white;
  margin: 0 auto;
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 40px 0;
  letter-spacing: 2px;
}

.sidebar {
  border-right: 1px solid white;
  padding-right: 10%;
}

.sidebar li {
  margin: 3px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.content {
  padding-left: 20px;
}
